# .clang-format


# Line limit
ColumnLimit: 100


# Indentation
MaxEmptyLinesToKeep: 3
UseTab: ForIndentation
TabWidth: 8
IndentWidth: 8
AccessModifierOffset: -8    # public:/private: sit flush with class brace, not indented
IndentPPDirectives: None    #ifdef / #else / #endif are not indented
NamespaceIndentation: None
InsertNewlineAtEOF: true
KeepEmptyLinesAtEOF: true


# Spacing
SpaceBeforeParens: Never


# Braces
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false


# Operators
BreakBeforeBinaryOperators: NonAssignment


## Switch statement
IndentCaseLabels: false


# Alignment
PointerAlignment: Left
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
## Long function definitions have each parameter on its own line
AlignAfterOpenBracket: BlockIndent
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false


# Comments
## Trailing comments
SpacesBeforeTrailingComments: 2
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0

